[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = {extras = ["tools"], version = "*"}
numpy = "*"
matplotlib = "*"
bs4 = "*"
seaborn = "*"
tensorflow = "*"
jupyter = "*"
pysqlite3 = "*"
sklearn = "*"

[requires]
python_version = "3.7"
